.card {
	color:#fff;
    border-radius: 10px;
    background: linear-gradient(145deg, #444444, #333333);
    box-shadow:  20px 20px 60px #222222, 
                -20px -20px 60px #111111;
    border: none;
}
.neo-button {
    width: 40px;
    height: 40px;
    outline: 0 !important;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
    background: linear-gradient(145deg, #9a40a9, #b74cc9);
    box-shadow: inset 10px 10px 20px #913ca0, 
            inset -10px -10px 20px #c552d8;
}

.num{
	color:#eee !important;
}

.line{
	color:#fff;
}

.neo-button:active {
    border-radius: 50%;
    background: #AB47BC;
    box-shadow:  28px 28px 57px #933da2, 
            -28px -28px 57px #c351d6;
}

.fa-facebook {
    color: #fff
}

.fa-linkedin {
    color: #fff
}

.fa-google {
    color: #fff
}

.fa-youtube {
    color: #fff
}

.fa-twitter {
    color: #fff
}

.profile_button{
	color:#fff;
	padding:10px; 
    border:none;
    outline:0 !important;
    border-radius: 50px;
    background: #AB47BC;
	
}